body {
    background-color: black;
}

h1 {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 8px 0 0 16px;
    width: max-content;
    height: max-content;
    margin-bottom: 24px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
    font-family: "DM Sans", sans-serif;
}

.sidebar nav ul li a {
    display: flex;
    gap: 16px;
    color: #d8c4c4;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li a:hover {
    transition: 0.5s;
    color: #fff;
}

.sidebar__navigation div ul {
    margin-top: auto;
    padding: 0 8px 10px 20px;
}

.sidebar__navigation div ul li {
    width: max-content;
    padding: 10px 0;
    font-family: "DM Sans", sans-serif;
}

.sidebar__navigation div ul li a {
    display: flex;
    gap: 16px;
    color: #d8c4c4;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

div .sidebar__navigation ul li a:hover {
    transition: 0.5s;
    color: #fff;
}

.lib__menu div ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lib__minha {
    font-size: 16px;
}

.lib__minha-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
}

.lib__minha-bg:hover {
    background-color: rgb(61, 60, 60);
    border-radius: 50%;
}
